.tabs-wrapper {
  position: fixed;
  left: 0;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(calc(-100% + 60px));
  border-radius: 50px;
  box-sizing: border-box;
  background-color: rgb(77, 75, 74);
  height: 3rem;
  transition: all 1s ease-in-out;
}
.tabs-wrapper.active {
  transform: translateX(0);
}
.tabs-wrapper .iconfont {
  font-size: 2rem;
  color: rgb(207, 218, 228);
  margin: 15px;
  border-radius: 50px;
  box-sizing: border-box;
}
.tabs .iconfont.active {
  box-shadow: 0px 0px 10px 20px #789985;
}
.panels-wrapper {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.panels-wrapper.active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.8;
}
.panels-wrapper .panel,
.panels-wrapper .icon-close {
  transform: translateY(100vh);
  transition: all 2s ease-in-out;
}
.panels-wrapper.active .panel.active,
.panels-wrapper.active .icon-close {
  transform: translateY(0);
}
.panels-wrapper .bgcover {
  background: url(../images/3997448.jpg) center;
  background-size: cover;
  filter: blur(3px);
  opacity: 0;
  z-index: -1;
  transition: all 3s ease-in-out;
}
.panels-wrapper.active .bgcover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}
.panels-wrapper.active .icon-close {
  position: absolute;
  top: 4rem;
  right: 4rem;
  color: azure;
  font-size: 3rem;
  z-index: 2;
}
.panels-wrapper.active .panel.active {
  position: absolute;
  top: 4rem;
  right: 4rem;
  bottom: 5rem;
  left: 4rem;
  font-size: 4rem;
  border-radius: 1rem;
  background-color: #0f0f0fd2;
  color: aliceblue;
  z-index: 1;
}
.settings .iconfont:hover {
  cursor: pointer;
  color: aquamarine;
}
